* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.encabezado {
    display: block;
    color: white;
    background-color: #00DEF9;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-navegable {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    align-items: center;
    
}

.menu-hamburguesa {
    text-align: right;
}

.parrafo-footer {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #31322e;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 50px;
    position: fixed;
    width: 100%;

    nav {
        a {
            text-decoration: none;
            color: white;
            padding: 15px;
            font-weight: bolder;
            transition: 1s;
        }
    }

    div {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            margin: 0px 30px 0px 0px;
        }
    }
}

.contenedor-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin:23px 150px 0px;
}

.menu-navegable a:hover {
    background-color: black;
    border-radius: 8px;
    transform: scale(1.5);
}

main {
    color: white;
    h1 {
        color: white;
    }

    section {
        div {
            display:block;
        }
        
        }
    }

footer {
    color: white;
}

.seccion-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
    gap: 35px;
    margin: 100px;

    .shows {
        display: grid;
        grid-column: 1/5;
        grid-row: 1/3;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .card {
            background-size: 500px;
            background-position: center center;
            border: 2px solid purple;
            border-radius: 15px;

            .texto {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px;
                color: white;
                -webkit-text-stroke: 0.2px white;
                font-size: 3rem;

                p {
                    color: white;
                    -webkit-text-stroke: 0.2px gray;
                    font-size: large;
                    font-weight: 600;
                }
            }
        }
    }
}